In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn

In [3]:
titles = pd.DataFrame.from_csv('titles.csv',index_col=None)
titles.head()

                         title  year
0                    Aguinaldo  1993
1                  Chaya Chobi  2013
2            Elemental Storage  2009
3                    G.I. Baby  1987
4  Brothers James: Retribution  2016

In [4]:
#Number of movies
len(titles)

226758

In [6]:
#earliest two films
titles.sort('year').head(2)

C:\Users\NISHANTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                                                 title  year
119350                                      Miss Jerry  1894
70708   Reproduction of the Corbett and Jeffries Fight  1899

In [7]:
#Number of movies with title hamlet
len(titles[titles.title == 'Hamlet'])

19

In [8]:
#Movies titled north by northwest
len(titles[titles.title == 'North by Northwest'])

1

In [10]:
#First Hamlet movie Release Year
titles[titles.title == 'Hamlet'].sort('year').head(1)

C:\Users\NISHANTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

        title  year
12574  Hamlet  1910

In [12]:
#List of all treasure island movie from earliest to latest
titles[titles.title=='Treasure Island'].sort('year')

C:\Users\NISHANTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                  title  year
177280  Treasure Island  1918
28012   Treasure Island  1920
210630  Treasure Island  1934
205468  Treasure Island  1950
719     Treasure Island  1972
12694   Treasure Island  1973
171200  Treasure Island  1985
167993  Treasure Island  1999

In [13]:
#Number of movies made in the year 1958
len(titles[titles.year == 1958])

1464

In [16]:
#Number of movies made through the years 1950 to 1959
t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

12506

In [17]:
len(t[t.year // 10 == 195])

12506

In [18]:
#In what years has a movie titled batman been released
t[t.title == 'Batman']

         title  year
121896  Batman  1943
193609  Batman  1989

In [19]:
cast = pd.DataFrame.from_csv('cast.csv',index_col=None)
cast.head()

                    title  year     name   type                character     n
0         Suuri illusioni  1985   Homo $  actor                   Guests  22.0
1     Battle of the Sexes  2017  $hutter  actor          Bobby Riggs Fan  10.0
2    Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan   NaN
3              Steve Jobs  2015  $hutter  actor  1988 Opera House Patron   NaN
4  Straight Outta Compton  2015  $hutter  actor              Club Patron   NaN

In [20]:
#How many roles did the movie inception have?
c = cast
len(c[c.title == 'Inception'])

77

In [27]:
#Number of roles in inception which are not ranked by an n value
c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

26

In [28]:
c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

In [29]:
# Display the cast of "North by Northwest" in their correct "n"-value order,
# ignoring roles that did not earn a numeric "n" value.
c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort('n')
c

C:\Users\NISHANTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
818488,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3270954,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1368090,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
2943117,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
334412,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2845261,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1592177,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1196834,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2296149,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1700893,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
625254,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2154151,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
435915,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1416611,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
192793,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1299913,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [31]:
# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".
c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort('n')
c

C:\Users\NISHANTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

          title  year                 name     type          character    n
306144   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1214180  Sleuth  2007             Jude Law    actor               Milo  2.0
1695799  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
243350   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
350670   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2550163  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3137083  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

In [32]:
# How many roles were credited in the silent 1921 version of Hamlet?
c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [33]:
#Hamlet roles credited throughout history
c = cast
c = c[c.character == 'Hamlet']
len(c)

88

In [34]:
# How many roles has Sidney Poitier played throughout his career?
c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

In [35]:
#Supporting roles (having n=2) played by Cary Grant in the 1940s in order by year.
c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort('year')
c

C:\Users\NISHANTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

                   title  year        name   type    character    n
818485  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
818495    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [36]:
#Leading roles that Cary Grant played in the 1940s in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1 ]
c = c.sort('year')
c

C:\Users\NISHANTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,title,year,name,type,character,n
818510,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
818467,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
818512,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
818500,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
818514,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
818491,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
818458,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
818483,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
818484,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
818492,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
818450,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
818487,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
818486,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
818489,Notorious,1946,Cary Grant,actor,Devlin,1.0
818506,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
818507,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
818482,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
818462,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
818471,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

In [38]:
#How many roles were available for actresses in the 1950's
c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

55736

In [39]:
#How many leading roles (n=1) were available from the beginning of film history through 1980?
c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

63203

In [40]:
#How many leading roles were available from the beginning of film history through 1980?
c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1082969

In [41]:
# How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?
c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

432874